.centered { /*copy from https://stackoverflow.com/questions/42125775/reactjs-react-router-how-to-center-div*/
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}
